
    <img src="">
    <h1>WELCOME <%= @user.name %>!</h1>
    <br>
    <% @user.activities.each do |a| %>
    <h2><%= a.title %></h2><h3><%=a.points%> points</h3><h3><%= a.description %></h3> <br>
    <% end %>
  <div class="btn">
    <button>
      <a href="/add_activity/<%="#{params[:id]}"%>"<p>Add New</p>
    </button>
  </div>

